.answer-box .amplify-radiogroup, .answer-box .amplify-radiogroup label {
    width: 100%;
    justify-content: flex-end;
}

.answer-box label, .answer-box .amplify-text {
    padding: 3px 3px 3px 9px;
    width: 100%;
}

.answer-box label.correct-answer, .answer-box .correct-answer {
    padding-left: 6px;
    background: #68ffc4;
    border-left: 3px solid #2e4832;
    position: relative;
}
.answer-box label.correct-answer::after, .answer-box .correct-answer::after {
    content: 'CORRECT';
    position: absolute;
    right: 5px;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.answer-box label.wrong-answer {
    padding-left: 6px;
    background: #fffcb8;
    border-left: 3px solid #ffbf0f;
}