.intro-box {
    border: 2px solid #232f3e !important;
    border-radius: 10px !important;
    padding: 20px !important;
}

.intro-box:hover {
    box-shadow: 1px 1px 1px 1px #232f3e !important;
    cursor: pointer;
}

.intro-box:hover .amplify-heading{
    text-decoration: underline;
}

.landing-banner {
    height: 250px;
    padding: 50px;
    background: url('/public/assets/img/block-bg.png');
    background-size: cover;
    color: white;
    font-weight: bold;
}

.landing-banner h1 {
    color: white;
    font-weight: bold;
}

.get-started-box {
    background: #ed7211 !important;
    color: white;
    border-radius: 10px !important;
    padding: 40px !important;
}

.get-started-box .amplify-heading {
    color: white;
}

.get-started-button {
    background: #ffffff !important;
    border: #2e4832 !important;
    color: #2e4832 !important;
    width: 20vw !important;
}

.get-started-button:hover {
    background: #68ffc4 !important;
}